<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Buy or Borrow</title>

    </head>
  <body>
        <center>
      <h2> Enter movie inspired by a novel: </h2>
      
      <form name="color_button" method='GET'>
        <br>
          <b>Movie Title:</b>
        <input type="text" name="movie_name" value="{{movie_name}}">
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
      
        <table border="0">
          <tr>
              <td valign="middle">
    <!-- A simple form for changing the graph -->


    <b>Movie Title:</b> {{ movie_name_nice }}
    <br>
    <b>Rating:</b> {{ movie_rating }}
    <br>
    <b>Genre:</b> {{ movie_genre }}
    <br>
    <b>Production companies:</b> {{ movie_production }}
    <br>
    <br>
      <b>Number of months to wait: <h3>{{ movie_wait_time }} </h3> </b>
              </td>
              
              <td valign="middle">
    <img src="{{movie_poster}}" >
              </td>
          </tr>
      </table>
            
      </center>
      
    </body>
</html>
