<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}
</style>
</head>
<body>

<button class="tablink" onclick="openPage('Home', this, 'red')" id="defaultOpen">Buy or Borrow</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact the Developer</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About the Algoithm</button>

<div id="Home" class="tabcontent">
  <div>
        <center>
      <h4> Enter movie inspired by a novel: </h4>
      
      <form name="color_button" method='GET'>
        <br>
          <b>Movie Title:</b>
        <input type="text" name="movie_name" value="{{movie_name}}">
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
      
        <table border="0" width="1100" cellspacing="5" cellpadding="5">
          <tr>
              <td valign="middle" width="550">
    <!-- A simple form for changing the graph -->


    <b>Movie Title:</b> {{ movie_name_nice }}
    <br>
    <b>Rating:</b> {{ movie_rating }}
    <br>
    <b>Genre:</b> {{ movie_genre }}
    <br>
    <b>Production companies:</b> {{ movie_production }}
    <br>
    <br>
      <b>Number of months to wait: <h5>{{ movie_wait_time }} </h5> </b>
              </td>
              
              <td valign="middle", width="550">
    <img src="{{movie_poster}}" alt="No image found" >
              </td>
          </tr>
      </table>
            
      </center>
      
    </div>
</div>


<div id="Contact" class="tabcontent">
  <h3>The Developer</h3>
  <p>Diana Lam got her PhD in Biostatistics from the University of North Carolina at Chapel Hill.  She worked on statistical methodology releated to missing data and time-to-event analyses in randomized clinical trails with Gary Koch during her time at UNC. Recently, she completed a Fellowship at The Data Incubator and learned a lot of skills she never dreamed she'd have, such as the skills to make this web app.<br /><br />
    
    When she is not honing her new skills in Python and machine learning, Diana enjoys taking advantage of our civic institutions, such as reading in librairies, riding her bike in bike lanes, and playing Ultimate Frisbee in parks.</p>
  <img src="{{ url_for('static', filename = 'Lam_Diana.jpg') }}" alt="Picture of Diana" >
    
</div>

<div id="About" class="tabcontent">
  <h3>Motivation</h3>
    <p> The trailer for the movie "Crazy Rich Asians" recently dropped, and if you were thinking about borrowing the book from the library, well, good luck.  When movies come out, demnad for the book at the library sky rockets.  I call this the movie-based popularity of a book.  <br /><br />
    
    For example, the book "The Maze Runner" came out in 2009, and the movie dropped in late 2014. We can see from the graph that demand for the book at the library increases even before the movie is released in theaters. The demand for the book is still strong even 2 years after the release of the movie
  <img src="maze_runner.JPG" alt="Maze-Runner graph" >
    <br /><br />
    
   Now if you're a reader like me, who likes to take your time when you read, then you'll want to wait until the movie-based popularity of the book has passed.  That way, when you check the book out at the library, you'll have a reasonable chance of being able to renew the book.  With Buy or Borrow, you can see whether or not the movie-based popularity of a book will pass within the year, or if not, whether you're better off just buying the book to read at a leisurely pace
    
 </p>
    <h3> Data </h3>
    <p> I got a list of movies based on a novel by scraping a movie list from IMDB.com that had "based on a" in the keywords.   I then used the merged the list from IMDB.com with movie details from TMDB.com, as the TMDB API allowed me to easily look up movie details, such as the release date, movie-rating, genre, and keywords.  
    <br /><br />
        I then used the list of movie titles to filter the 6.6 GB of checkout data from the Seattle Public Library (SPL).  I used Spark to filter the large data set. As my outcome was the number of months you would have to wait past the movie release until the number of checkouts in SPL was less than the number of copies of the book for 2 consecutive months, I also needed ot know the inventory count of the books.  The count of books in the system was also available as a data set from SPL.  Different editions of the book were counted as the same book, assuming the content did not change drastically from edition to edition
    </p>
</div>

<script>
function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
     
</body>
</html> 
